<a href="https://colab.research.google.com/github/creativmind/python/blob/master/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Function:
Functions in Python provide organized, reusable and modular code to perform a set of speciﬁc actions. Functions simplify the coding process, prevent redundant logic, and make the code easier to follow.

In [ ]:
def greet_two(greeting="Howdy"):     
  return greeting
greet_two()

'Howdy'

In [ ]:
def greet_two(greeting):     #typ1: function with argument
  return greeting
greet_two("Howdy")           # typ2: greet_two(greeting = "Howdy")

'Howdy'

In [ ]:
def do_nothing():                    # an empty function uses pass as statement because function body cant be empty
  pass
print(do_nothing())                  # empty function

None

## Deﬁning a function with an arbitrary number of arguments
 
 *args takes n number of arguments (*args Unnamed positional argument)

In [ ]:
#syntax to iterate tuples: def list_iteration(*args):


def tup_iteration(*args):  #syntax: def tup_iteration(*args):--->func declaration
  for i in args:        #-------------->func definition
    print(i)  

tup = (1,2,3,4,5,"l")
tup_iteration(*tup)    # calling a function over tuple ---->fuction call

1
2
3
4
5
l

In [ ]:
def lst_iteration(*args):  #syntax: def list_iteration(*args): func declaration
   for i in args:
     print(i)              #-------------->func definition

lst = [1,2,3,4,5,"l"]
lst_iteration(*lst)        #funct call

1
2
3
4
5
l

In [ ]:
#difference : lst_iteration(*lst)
lst_iteration(lst)

[1, 2, 3, 4, 5, 'l']

In [ ]:
# iterating dictionary using **kwargs---keyword as an argument--->should have key and values

#You can take an arbitrary number of arguments with a NAME by deﬁning an argument in the
#deﬁnition with two * in front of it:
#9952949062 / 62865080

def dic_iterator(**kwargs):
  for name, value in kwargs.items():
    print(name)

dic = {'foo': 1, 'bar': 2}
dic_iterator(**dic)

foo
bar

## LAMBDA FUNCTIONS

Lambda function is an inline anonymous function.

It takes multiple arguments but has only one expression

It is more useful when used inside a function that accepts an argument and perform actions with anonymous value during the execution based on user need

In [ ]:
#type 1
c = lambda a:a*a
c(4)

16

In [ ]:
#type 2 within a function
def myfunc(n):
  return lambda a:a*n
result = myfunc(4)
result(5)

20

In [ ]:
#multiple arguments
greeting = lambda x, *args, **kwargs: print(x, args, kwargs) 
greeting('hello', 'world', world='world')

hello ('world',) {'world': 'world'}

In [ ]:
5/9

0.5555555555555556

In [ ]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)

In [ ]:
F_to_c = lambda F: print("{} Celcius".format((F-32)*5/9))
F_to_c(96.8)

36.0 Celcius

In [ ]:
c_to_F = lambda C: print("{} Farenhit".format((C*9/5)+32))
c_to_F(36)

96.8 Farenhit

In [ ]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
temp = (36.5, 37, 37.5,39)

F=map(fahrenheit, temp)
C = map(celsius, F)
F    #OUTPUT <map at 0x7f19e74a26d8>
map(lambda x: x.fahrenheit,lst)

In [ ]:
def multiply2(x):
  return x * 2
    
map(multiply2, [1, 2, 3, 4])

In [ ]:
c = lambda x:x*9
c(9)

81

##Function to sort values

In [ ]:
#sorting tuples

subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Soc', 82)]
print("Original list of tuples:")
print(subject_marks)
def mark_order(tupl):
  t=tupl.sort(key = lambda x: x[1])
  print("\nSorting the List of Tuples:")
  print(t)

mark_order(subject_marks)

In [ ]:
#sorting dictionries

models = [{'make':'Nokia', 'model':216, 'color':'Black'}, {'make':'Mi Max', 'model':'2', 'color':'Glod'}, {'make':'Samsung', 'model': 7, 'color':'Blue'}]
print("Original list of dictionaries :")
print(models)
def dict_sort(dic):
 dic.sort(key= lambda x: x["color"])
 sorted_models = print("\nSorting teh List of dictionaries :")
 print(sorted_models)

Original list of dictionaries :
[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Glod'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

In [ ]:
# sorting using lambda

models = [{'make':'Nokia', 'model':216, 'color':'Black'}, {'make':'Mi Max', 'model':'2', 'color':'Glod'}, {'make':'Samsung', 'model': 7, 'color':'Blue'}]
print("Original list of dictionaries :")
print(models)
def dict_sort(dic):
 sorted_models = dic.sort(lambda : x["color"])
 print("\nSorting teh List of dictionaries :")
 print(sorted_models)
 
dict_sort(models)

In [ ]:
subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
print("Original list of tuples:")
print(subject_marks)
subject_marks.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(subject_marks)

Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

Sorting the List of Tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]